<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
          <div class='col'>
              <p>{{ content }}</p>
              <div class='col-sm-6 col-12'>
              <form method='POST'> {% csrf_token %}
                  <input type='text' class='form-control' name='fullname 'placeholder='Tell us your full name'>
                  <input type='email' class='form-control' name='email' placeholder='Input your email'>
                  <textarea name='content' class='form-control' placeholder='Talk to us'></textarea>
                  <button type='submit' class='btn btn-default'>Enviar</button>
              </form>
              </div>
          </div>
      </div>
    </div>
    <a href="{%url 'home'%}">principal page</a>
    <a href="{%url 'about'%}">about page</a>
    
  </body>
</html>